img{
  width: 60px;
}

div.noticia {
  width: 50%;
  padding: 15px;
}

div.noticia img.izquierda {
  float: left;
  margin-right: 15px;
}
div aside{
  margin-top: 30px;
}

div.reset {
  clear: both;
}
